<header>
    <h1 class="text-centered app-name" title="{{ 'LSK note v' + version + ' @ ' + versionDate }}">
        {{ title }}
    </h1>
    <nav>
        <a class="nav-item" routerLink="/clipboard" #navNote (click)="onClickNavItem2(navNote.innerText)" [ngClass]="{ selected: currentNavItem == navNote.innerText }"
            >Note</a
        >
        <a
            class="nav-item"
            routerLink="/about"
            #navAbout
            (click)="onClickNavItem2(navAbout.innerText)"
            [ngClass]="{ selected: currentNavItem == navAbout.innerText }"
            >About</a
        >
        <a class="nav-item" routerLink="/faq" #navFaq (click)="onClickNavItem2(navFaq.innerText)" [ngClass]="{ selected: currentNavItem == navFaq.innerText }"
            >FAQ</a
        >
    </nav>
</header>
