#add-note-container {
    /* align button with nav bar */
    position: absolute;
    top: 60px;
    right: 30px;
    /* padding: 20px 20px 0 20px; */
    /* margin: 0 auto; */
    /* ----------------------------------end of changes for align*/
    border-radius: 10px;
    /* max-width 40px larger than note-item */
    /* max-width: 960px; */
    max-width: 1000px;
    min-width: 320px;
}

.progress-message {
    padding-top: 8px;
}
