#add-note-container {
    /* align button with nav bar */
    /* position: absolute;
    top: 66px;
    right: 30px; */
    /* ----------------------------------*/
    /* max-width 40px larger than note-item */
    /* max-width: 960px; */
    /* max-width: 1000px; */
    /* min-width: 320px; */
    padding: 10px 20px 0 20px;
    margin: 0 auto;
    /* ----------------------------------end of changes for align*/
    border-radius: 10px;
}

#add-note-container.popup {
    /* width: 360px; */
    /* ----------------------------------*/
    width: 80%;
    padding-bottom: 10px;
    margin-top: 20px;
    /* ----------------------------------end of changes for align*/
    background-color: white;
    /* h-offset, v-offset, blur radius, color */
    box-shadow: 0px 2px 8px black;
}

.progress-message {
    padding-top: 8px;
}

.editor-popup {
    /* border: none;
    border-bottom: deepskyblue 1px solid; */
    outline: none;
}
