/* You can add global styles to this file, and also import other style files */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* ·`background-color: lightgray; */
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}


.text-centered{
    text-align: center;
}

h1{
    color: darkslategray;
}