/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
    padding: 0;
    /* ·`background-color: lightgray; */
}


.text-centered{
    text-align: center;
}

h1{
    color: darkslategray;
}